<div class = "container">
    <h1>Welcome to The Btn Game!</h1>
    <p>Hint: Click on the button that turns red.</p>
    <form [formGroup]="buttonform" (ngSubmit)="onSubmit()">
        <input type="number" formControlName="buttoncount" id="inputField" placeholder="Enter a number..." class="btnform" style="width:100%;">
        <p class="text-danger" *ngIf="error">Number must be greater than 0</p>
        <button type = "submit" class="btn btn-primary">Go</button>
    </form>
    <app-buttons *ngIf="count>0" [count]="count" (reintializeForm)="reintializeForm($event)"></app-buttons>
</div>
